<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jiajiaz98.myfirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlphabetActivity" />
        <activity android:name=".practice" />
        <activity android:name=".practice2" />
        <activity android:name=".practice3" />
        <activity android:name=".practice4" />
        <activity android:name=".practice5" />
        <activity android:name=".practice6" />
        <activity android:name=".practice7" />
        <activity android:name=".practice8" />
        <activity android:name=".practice9" />
        <activity android:name=".practice10" />
        <activity android:name=".practice11" />
        <activity android:name=".practice12" />
        <activity android:name=".practice13" />
        <activity android:name=".practice14" />
        <activity android:name=".practice15" />
        <activity android:name=".practice16" />
        <activity android:name=".practice17" />
        <activity android:name=".practice18" />
        <activity android:name=".practice19" />
        <activity android:name=".practice20" />
        <activity android:name=".practice21" />
        <activity android:name=".practice22" />
        <activity android:name=".practice23" />
        <activity android:name=".practice24" />
        <activity android:name=".practice25" />
        <activity android:name=".practice26" />
        <activity android:name=".practice27" />
        <activity android:name=".practice28" />
        <activity android:name=".practice29" />
        <activity android:name=".practice30" />
        <activity android:name=".practice31" />
        <activity android:name=".practice32" />
        <activity android:name=".practice33" />
        <activity android:name=".practice34" />
        <activity android:name=".practice35" />
        <activity android:name=".practice36" />
        <activity android:name=".practice37" />
        <activity android:name=".practice38" />
        <activity android:name=".practice39" />
        <activity android:name=".practice40" />
        <activity android:name=".practice41" />
        <activity android:name=".practice42" />
        <activity android:name=".practice43" />
        <activity android:name=".practice44" />
        <activity android:name=".practice45" />
        <activity android:name=".practice46" />
        <activity android:name=".practice47" />
        <activity android:name=".practice48" />
        <activity android:name=".practice49" />
        <activity android:name=".practice50" />
        <activity android:name=".practice51" />
        <activity android:name=".practice52" />
        <activity android:name=".practice53" />
        <activity android:name=".practice54" />
        <activity android:name=".practice55" />
        <activity android:name=".practice56" />
        <activity android:name=".practice57" />
        <activity android:name=".practice58" />
        <activity android:name=".practice59" />
        <activity android:name=".practice60" />
        <activity android:name=".practice61" />
        <activity android:name=".practice62" />
        <activity android:name=".practice63" />
        <activity android:name=".practice64" />
        <activity android:name=".practice65" />
        <activity android:name=".practice66" />
        <activity android:name=".practice67" />
        <activity android:name=".practice68" />
        <activity android:name=".practice69" />
        <activity android:name=".practice70" />
        <activity android:name=".practice71" />
        <activity android:name=".practice72" />
        <activity android:name=".practice73" />
        <activity android:name=".practice74" />
        <activity android:name=".practice75" />
        <activity android:name=".practice76" />
        <activity android:name=".practice77" />
        <activity android:name=".practice78" />
        <activity android:name=".practice79" />
        <activity android:name=".practice80" />
        <activity android:name=".practice81" />
        <activity android:name=".practice82" />
        <activity android:name=".practice83" />
        <activity android:name=".practice84" />
        <activity android:name=".practice85" />
        <activity android:name=".practice86" />
        <activity android:name=".practice87" />
        <activity android:name=".practice88" />
        <activity android:name=".practice89" />
        <activity android:name=".practice90" />
        <activity android:name=".practice91" />
        <activity android:name=".practice92" />
        <activity android:name=".practice93" />
        <activity android:name=".practice94" />
        <activity android:name=".practice95" />
        <activity android:name=".practice96" />
        <activity android:name=".practice97" />
        <activity android:name=".practice98" />
        <activity android:name=".practice99" />
        <activity android:name=".practice100" />
        <activity android:name=".practice101" />
        <activity android:name=".practice102" />
        <activity android:name=".practice103" />
        <activity android:name=".practice104" />
        <activity android:name=".practice105" />
        <activity android:name=".practice106" />
        <activity android:name=".practice107" />
        <activity android:name=".practice108" />
        <activity android:name=".practice109" />
        <activity android:name=".practice110" />
        <activity android:name=".practice111" />
        <activity android:name=".practice112" />
        <activity android:name=".practice113" />
        <activity android:name=".practice114" />
        <activity android:name=".practice115" />
        <activity android:name=".practice116" />
        <activity android:name=".practice117" />
        <activity android:name=".practice118" />
        <activity android:name=".practice119" />
        <activity android:name=".practice120" />
        <activity android:name=".practice121" />
        <activity android:name=".practice122" />
        <activity android:name=".practice123" />
        <activity android:name=".practice124" />
        <activity android:name=".practice125" />
        <activity android:name=".practice126" />
        <activity android:name=".practice127" />
        <activity android:name=".practice128" />
        <activity android:name=".practice129" />
        <activity android:name=".practice130" />
        <activity android:name=".practice131" />
        <activity android:name=".practice132" />
        <activity android:name=".practice133" />
        <activity android:name=".practice134" />
        <activity android:name=".practice135" />
        <activity android:name=".practice136" />
        <activity android:name=".practice137" />
        <activity android:name=".practice138" />
        <activity android:name=".practice139" />
        <activity android:name=".practice140" />
        <activity android:name=".practice141" />
        <activity android:name=".practice142" />
        <activity android:name=".practice143" />
        <activity android:name=".practice144" />
        <activity android:name=".practice145" />
        <activity android:name=".practice146" />
        <activity android:name=".practice147" />
        <activity android:name=".practice148" />
        <activity android:name=".practice149" />
        <activity android:name=".practice150" />
        <activity android:name=".practice151" />
        <activity android:name=".practice152" />
        <activity android:name=".practice153" />
        <activity android:name=".practice154" />
        <activity android:name=".practice155" />
        <activity android:name=".practice156" />
        <activity android:name=".practice157" />
        <activity android:name=".practice158" />
        <activity android:name=".practice159" />
        <activity android:name=".practice160" />
        <activity android:name=".practice161" />
        <activity android:name=".practice162" />
        <activity android:name=".practice163" />
        <activity android:name=".practice164" />
        <activity android:name=".practice165" />
        <activity android:name=".practice166" />
        <activity android:name=".practice167" />
        <activity android:name=".practice168" />
        <activity android:name=".practice169" />
        <activity android:name=".practice170" />
        <activity android:name=".practice171" />
        <activity android:name=".practice172" />
        <activity android:name=".practice173" />
        <activity android:name=".practice174" />
        <activity android:name=".practice175" />
        <activity android:name=".practice176" />
        <activity android:name=".practice177" />
        <activity android:name=".practice178" />
        <activity android:name=".practice179" />
        <activity android:name=".practice180" />
        <activity android:name=".practice181" />
        <activity android:name=".practice182" />
        <activity android:name=".practice183" />
        <activity android:name=".practice184" />
        <activity android:name=".practice185" />
        <activity android:name=".practice186" />
        <activity android:name=".practice187" />
        <activity android:name=".practice188" />
        <activity android:name=".practice189" />
        <activity android:name=".practice190" />
        <activity android:name=".practice191" />
        <activity android:name=".practice192" />
        <activity android:name=".practice193" />
        <activity android:name=".practice194" />
        <activity android:name=".practice195" />
        <activity android:name=".practice196" />
        <activity android:name=".practice197" />
        <activity android:name=".practice198" />
        <activity android:name=".practice199" />
        <activity android:name=".practice200" />
        <activity android:name=".practice201" />
        <activity android:name=".practice202" />
        <activity android:name=".practice203" />
        <activity android:name=".practice204" />
        <activity android:name=".practice205" />
        <activity android:name=".practice206" />
        <activity android:name=".practice207" />
        <activity android:name=".practice208" />
        <activity android:name=".practice209" />
        <activity android:name=".practice210" />
        <activity android:name=".practice211" />
        <activity android:name=".practice212" />
        <activity android:name=".practice213" />
        <activity android:name=".practice214" />
        <activity android:name=".practice215" />
        <activity android:name=".practice216" />
        <activity android:name=".practice217" />
        <activity android:name=".practice218" />
        <activity android:name=".practice219" />
        <activity android:name=".practice220" />
        <activity android:name=".practice221" />
        <activity android:name=".practice222" />
        <activity android:name=".practice223" />
        <activity android:name=".practice224" />
        <activity android:name=".practice225" />
        <activity android:name=".practice226" />
        <activity android:name=".practice227" />
        <activity android:name=".practice228" />
        <activity android:name=".practice229" />
        <activity android:name=".practice230" />
        <activity android:name=".practice231" />

    </application>

</manifest>